<a href="https://colab.research.google.com/github/lopezeliasg/Python-Data/blob/main/Informatorio_Data_Analytics%2C_Ejercicios_Resueltos_de_Clase_2_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Atajos de Markdown en Google Colab** **(Bonus)**
Atajos más comunes de Markdown para utilizar en **Google Colab**:

#**Títulos**
Para crear un título, debes colocar el número de signos # correspondiente al nivel del título, seguido de un espacio y el texto del título. 
**Por ejemplo:**
 
# Título nivel 1
## Título nivel 2
### Título nivel 3

#**Negrita** y *cursiva*
Para resaltar texto, puedes usar los asteriscos o guiones bajos. Si colocas uno a cada lado del texto, este se mostrará en cursiva. Si colocas dos, se mostrará en negrita. 
**Por ejemplo:**

*Texto en cursiva*
**Texto en negrita**

#**Listas**
Para crear listas con viñetas, puedes usar un asterisco, un guion o un signo más seguido de un espacio. Para crear listas numeradas, simplemente coloca el número seguido de un punto y un espacio.
 **Por ejemplo:**

- Elemento 1
- Elemento 2
- Elemento 3

1. Elemento 1
2. Elemento 2
3. Elemento 3

#**Enlaces e imágenes**
Para insertar un enlace, debes encerrar el texto del enlace entre corchetes y la URL entre paréntesis. Para insertar una imagen, debes usar una sintaxis similar, pero precediendo la URL con un signo de exclamación. **Por ejemplo:**

[Enlace a Google](https://www.google.com)
![Imagen de un gato](https://upload.wikimedia.org/wikipedia/commons/3/3a/Cat03.jpg)

#**Código**
Para mostrar código, puedes encerrarlo entre comillas invertidas ` o crear bloques de código usando tres comillas invertidas al principio y al final. **Por ejemplo:**

`print("Hola mundo")`

#**Citas**
Para citar texto, debes colocar el texto entre el signo de mayor que > y un espacio. Puedes anidar citas utilizando varios signos de mayor que. **Por ejemplo:**
> Esto es una cita
>> Esta es una cita anidada

In [ ]:
print("Hola mundo")

Hola mundo

In [33]:
nombre = "Elias"
apellido = "Lopez"
print(nombre, apellido)

Elias Lopez

In [ ]:
print("hola mundo", 4.5, False, end="\n")
print("Hola")

hola mundo 4.5 False
Hola

In [34]:
nombre = "Elias"
apellido = "Lopez"
print(nombre, apellido)

Elias Lopez

In [35]:
input("Nombre: ")

Nombre: ELIAS

'ELIAS'

In [36]:
nombre = input("Nombre: ")
apellido = input("Apellido: ")
apellido_minus = apellido.lower()

Nombre: Elias
Apellido: Lopez

In [37]:
print(apellido)

Lopez

In [38]:
apellido.upper().count("S")

0

In [39]:
x = "hola"
y = " mundo"

print(x+y)

hola mundo

#**Actividades a resolver en clase:**
##Act1: Calcular el área de un triángulo dado su base y altura. Pedir al usuario los valores de la base y la altura utilizando la función input(). Luego, calcular el área del triángulo e imprimir el resultado.

In [4]:
#Resolver ACT1 en esta celda.
base = int(input("Base: "))
altura = int(input("Altura: "))
area = (base*altura)/2
print(area)

Base: 40
Altura: 30
600.0

##Act2: Convertir una temperatura en grados Celsius a Fahrenheit. Pedir al usuario el valor de la temperatura en Celsius utilizando la función input(). Luego, convertir la temperatura a Fahrenheit utilizando la fórmula F = (C * 9/5) + 32 e imprimir el resultado.

In [5]:
#Resolver ACT2 en esta celda.
celsius = int(input("Temperatura en Celsius: "))
temperaturaConversion = (celsius * 9/5) + 32
print(temperaturaConversion)

Temperatura en Celsius: 40
104.0

##Act3: Escribir un programa que pida al usuario dos números y muestre por pantalla su división si el segundo número es distinto de cero, o un mensaje de error en caso contrario.

In [8]:
#Resolver ACT3 en esta celda.
unNumero = int(input("Dame un Nro.: "))
otroNumero = int(input("Dame otro Nro.: "))

if (unNumero/otroNumero)!=0:
  print("Es distinto de 0")
else:
  print("Error")

Dame un Nro.: 1
Dame otro Nro.: 1
Es distinto de 0

##Act4: Realizar un programa que lea tres números distintos y nos los muestre ordenados de menor a mayor.

In [18]:
#Resolver ACT4 en esta celda.
j = 0
numeros = []
for i in range (1,4,1):
  numero = int(input(f"Numero #{i}: "))
  numeros.append(numero)
  numerosOrdenados = sorted(numeros, reverse=False)
print("Tus numeros: ", numeros)
print("Numeros Ordenados: ", numerosOrdenados)

Numero #1: 40
Numero #2: 20
Numero #3: 5
Tus numeros:  [40, 20, 5]
Numeros Ordenados:  [5, 20, 40]

##Act5: Escribir un programa que lea una cadena de texto y muestre por pantalla cuántas veces aparece cada letra del alfabeto en la cadena. El programa debe ignorar los espacios y los caracteres no alfabéticos.

In [21]:
#Resolver ACT5 en esta celda.
cadena = str(input("Ingrese su texto: "))
letra = str(input("Ingrese letra a contar: "))

resultado = cadena.count(letra)
print(f"La letra '{letra}' aparece: ", resultado, " veces")

Ingrese su texto: Escribir un programa que lea una cadena de texto y muestre por pantalla cuántas veces aparece cada letra del alfabeto en la cadena. El programa debe ignorar los espacios y los caracteres no alfabéticos.
Ingrese letra a contar: a
La letra 'a' aparece:  28  veces

##Act6: Escribir un programa que pida al usuario un número y muestre por pantalla su valor absoluto.

In [22]:
#Resolver ACT6 en esta celda.
numero = int(input("Dame un numero: "))
print(abs(numero))

Dame un numero: -80
80

##Act7: Escribir un programa que pida al usuario una lista de números separados por comas y muestre por pantalla el producto de dichos números.

In [32]:
#Resolver ACT7 en esta celda.
numeros = input("Por favor ingresa numeros separados por coma: ")

numerosSeparados = numeros.split(",")
print("Tus numeros son: ", numerosSeparados)

for i in range(len(numerosSeparados)):
    numerosSeparados[i] = int(numerosSeparados[i])
print(numerosSeparados)
producto=1
for numero in numerosSeparados:
  producto *=(numero)
print(f"y el producto de los numeros de la lista es {producto}")

Por favor ingresa numeros separados por coma: 1,4,8
Tus numeros son:  ['1', '4', '8']
[1, 4, 8]
y el producto de los numeros de la lista es 32

##Act8: Escribir un programa que pida al usuario una lista de palabras y las muestre por pantalla ordenadas alfabéticamente.

In [52]:
#Resolver ACT8 en esta celda.
cantidad = int(input("Cuantas palabras queres ordenar? "))
lista = []
for i in range(cantidad):
  palabra = str(input(f"Palabra #{i+1}: "))
  lista.append(palabra)
print("Tu lista ingresada: ", lista)
lista = sorted(lista)
print("Tu lista Ordenada: ", lista)

Cuantas palabras queres ordenar? 3
Palabra #1: Python
Palabra #2: Data
Palabra #3: Analytics
Tu lista ingresada:  ['Python', 'Data', 'Analytics']
Tu lista Ordenada:  ['Analytics', 'Data', 'Python']